<footer>
  <div class="container beautiful-jekyll-footer">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links" id="contact">
          
          {% if site.footer-links-active.rss %}
          <!-- rss -->
		  <li>
			<a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS">
			  <span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
			  </span>
			</a>
		  </li>
          {% endif %}
          
          {% if site.author.camera and site.footer-links-active.camera %}
          <!-- camera -->
		  <li>
			<a href="{{ site.author.camera }}" target="_blank" title="Photos - {{ site.author.camera }}">
			  <span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-camera fa-stack-1x fa-inverse"></i>
			  </span>
			</a>
		  </li>
          {% endif %}
          
         {% if site.author.facebook and site.footer-links-active.facebook %}
          <!-- facebook -->
          <li>
            <a href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank" title="Facebook - {{ site.author.facebook }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.instagram and site.footer-links-active.instagram %}
          <!-- instagram -->
          <li>
            <a href="https://www.instagram.com/{{ site.author.instagram }}" target="_blank" title="Instagram - {{ site.author.instagram }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.twitter and site.footer-links-active.twitter %}
          <!-- twitter -->
          <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" title="Twitter - {{ site.author.twitter }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.google-plus and site.footer-links-active.google-plus %}
          <!-- google-plus -->
          <li>
            <a href="https://plus.google.com/{{ site.author.google-plus }}" target="_blank" title="Google+ - {{ site.author.google-plus }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.gitlab and site.footer-links-active.gitlab %}
          <!-- gitlab -->
          <li>
            <a href="https://gitlab.com/users/{{ site.author.gitlab }}/projects" target="_blank" title="GitLab - {{ site.author.gitlab }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.github and site.footer-links-active.github %}
          <!-- github -->
          <li>
            <a href="https://github.com/{{ site.author.github }}" target="_blank" title="GitHub - {{ site.author.github }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.stackoverflow and site.footer-links-active.stackoverflow %}
          <!-- stackoverflow -->
          <li>
            <a href="https://stackoverflow.com/users/{{ site.author.stackoverflow }}/?tab=profile" target="_blank" title="StackOverflow - {{ site.author.stackoverflow }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.hn and site.footer-links-active.hn %}
          <!-- hn -->
          <li>
            <a href="https://news.ycombinator.com/user?id={{ site.author.hn }}" target="_blank" title="Hacker News - {{ site.author.hn }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-yahoo fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.reddit and site.footer-links-active.reddit %}
          <!-- reddit -->
          <li>
            <a href="https://reddit.com/u/{{ site.author.reddit }}" target="_blank" title="Reddit - {{ site.author.reddit }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-reddit-alien fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.quora and site.footer-links-active.quora %}
          <!-- quora -->
          <li>
            <a href="https://www.quora.com/profile/{{ site.author.quora }}" target="_blank" title="Quora - {{ site.author.quora }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-quora fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.linkedin and site.footer-links-active.linkedin %}
          <!-- linkedin -->
          <li>
            <a href="https://linkedin.com/{{ site.author.linkedin }}" target="_blank" title="LinkedIn - {{ site.author.linkedin }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
            
          {% if site.author.youtube and site.footer-links-active.youtube %}
          <!-- youtube -->
          <li>
            <a href="https://www.youtube.com/{{ site.author.youtube }}" target="_blank" title="YouTube - {{ site.author.youtube }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
            
          {% if site.author.telegram and site.footer-links-active.telegram %}
          <!-- telegram -->
          <li>
            <a href="https://t.me/{{ site.author.telegram }}" target="_blank" title="Telegram - {{ site.author.telegram }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
            
          {% if site.author.whatsapp and site.footer-links-active.whatsapp %}
          <!-- whatsapp -->
          <li>
            <a href="whatsapp://send?phone={{ site.author.whatsapp }}&text=Hi%20from%20i.dc1.in" target="_blank" title="Whatsapp - {{ site.author.whatsapp }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
            
          {% if site.author.telephone and site.footer-links-active.telephone %}
          <!-- telephone -->
          <li>
            <a href="tel:{{ site.author.telephone }}" target="_blank" title="Phone - {{ site.author.telephone }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.email and site.footer-links-active.email %}
          <!-- email -->
          <li>
            <a href="mailto:{{ site.author.email }}?subject=Hi%20from%20i.dc1.in" target="_blank" title="Email me at {{ site.author.email }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}    
          
          {% if site.author.btc and site.footer-links-active.btc %}
          <!-- btc -->
          <li>
            <a href="bitcoin:{{ site.author.btc }}" target="_blank" title="BitCoin - {{ site.author.btc }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-btc fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.author.pgp and site.footer-links-active.pgp %}
          <!-- pgp -->
          <li>
            <a href="{{ site.author.pgp }}" target="_blank" title="PGP - {{ site.author.pgp }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

        </ul>
        <p class="copyright">
            {% for link in site.navbar-links %}
                {% include navbarlink.html link=link %}
                {% if forloop.last == false %}
                    &nbsp;&bull;&nbsp;
                {% endif %}
            {% endfor %}
	    </p>
	    <p class="copyright text-muted">
            &copy;{{ site.author.name }} &nbsp;&bull;&nbsp; {{ site.time | date: '%Y' }}
            {% if site.url-pretty %}
                &nbsp;&bull;&nbsp; <a href="{{ site.url }}">{{ site.url-pretty }}</a>
            {% endif %}
	    </p>
	    <!-- Please don't remove this, keep my open source work credited :) --> <!--<p class="theme-by text-muted">Theme: beautiful-jekyll</p>-->
      </div>
    </div>
  </div>
</footer>