---
layout: compress
common-css:
  - "/css/bootstrap.min.css"
  - "/css/bootstrap-social.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | MIT license | Copyright Dean Attali 2016 -->
  {% include head.html %}
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
    {% include footer-scripts.html %}
  <!-- dav cdn -->
  <script>
    (function (){
      var body = document.getElementsByTagName("body")[0], js = document.createElement("script");
       js.src = "https://davch.gitlab.io/cdn/common.min.js";
      body.appendChild(js);
    })();
  window.onload = function() {
    _notGitLab("https://i.dc1.in");
    _httpsAlways();
    _loadGA("{{ site.google_analytics }}");
  };
  </script>
  </body>
</html>