---
layout: default
---

<h3 class="post_title">{{page.title}}:</h3>

<div class="posts-list">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h3 class="post-title">{{ post.title }}</h3>

      {% if post.subtitle %}
      <h4 class="post-subtitle">
        {{ post.subtitle }}
      </h4>
      {% endif %}
    </a>

    <p class="post-meta">
    Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

    <div class="blog-tags">
      Tags: 
      {% for tag in post.tags %}
        <a href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </article>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
